@import './base.css';

#app {
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
  padding-bottom: 50px;
  padding-top: 50px;
  width: 100%;
}

.alignCenter {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
  margin-top: 20px;
}

input[type="radio"] {
  width: 20px;
  height: 20px;
  margin-right: 10px;

}

.content {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.horizontal {
  display: flex;
  flex-direction: row;
}



button {
  height: 30px;
  padding: 0px 20px;
  border-radius: 15px;
  color: black;
  font-weight: 900;
  background: white;
  border: none;
}

button:disabled {
  opacity: 0.5;
}

button:disabled:active {
  background: white;
}

.secondary-button {
  background: none;
  color: white;
  margin-top: 50px;
}

.secondary-button:active {
  background: none;
  color: #ffffff55;
}



button:active {
  background: #ffffff55;
}

input {
  height: 35px;
  width: 60px;
  border-radius: 5px;
  border: 2px solid white;
  font-weight: 900;
  background: none;
  text-align: center;
  font-weight: 900;
  color: #b8b8b8;
  font-size: 1.5em;
  -moz-appearance: textfield;
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;

}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}



input:focus,
textarea {
  outline: none !important;
}

.flexEnd {
  align-items: flex-end;
}


@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
  }

  #app {
    padding: 50px 200px;
  }

}